{% extends 'vpn_app/base.html' %}
{% load static %}
{% block content %}
    <div class="w-100 d-flex flex-column align-items-center">
        <div class="fs-1 p-4 text-primary">Welcome to VPN service</div>
        <div class="w-75">
            <p>In VPN service you can create your own vpn service.</p>
            <p>To gain the ability to create vpn you should register.</p>
            <p>
                Created links you'll find in account page.
                There will be statistic info also.
            </p>
            <p>
                Created list linkable. Click on any and serve choosen site in
                vpn mode.
            </p>
        </div>
    </div>
{% endblock %}