{% extends 'vpn_app/base.html' %}
{% load static %}
{% block content %}
    <div class="w-100 d-flex flex-column align-items-center">
        <div class="fs-2">Registration</div>
        <form method="post" class="w-100 d-flex flex-column align-items-center" style="max-width: 400px;">
            <div class="w-100">
                {% csrf_token %}
                {% if form.error %}
                    <div>{{ form.error }}</div>
                {% endif %}
                {% for f in form %}
                    <div class="my-2">{{ f.label }}</div>
                    <div class="w-100">{{ f }}</div>
                    {% if f.errors %}
                        <div>{{ f.errors }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mt-4">Sign up</button>
        </form>
    </div>
{% endblock content %}
